@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
:root {
  /* Variables */
  /* Colors */
  --white: 0 0% 100%;
  --stone-100: 30 54% 90%;
  --stone-150: 30 18% 87%;
  --stone-600: 30 10% 34%;
  --stone-900: 24 5% 18%;
  --brown-800: 14 45% 36%;
  --rose-800: 332 51% 32%;
  --rose-50: 330 100% 98%;
}
/* Classes */
/* Colors */
.white {
  color: hsl(var(--white));
}
.stone-100 {
  color: hsl(var(--stone-100));
}
.stone-150 {
  color: hsl(var(--stone-150));
}
.stone-600 {
  color: hsl(var(--stone-600));
}
.stone-900 {
  color: hsl(var(--stone-900));
}
.brown-800 {
  color: hsl(var(--brown-800));
}
.rose-800 {
  color: hsl(var(--rose-800));
}
.rose-50 {
  color: hsl(var(--rose-50));
}
/* Font Weight */
.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.ff-outfit {
  font-family: "Outfit";
}
.ff-young-serif {
  font-family: "Young Serif";
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.recipe__section {
  max-width: 745px;
}
.recipe__content {
  display: grid;
  max-width: 745px;
  gap: 2rem;
  padding: 2rem;
}
.recipe__content-heading {
  font-size: 2.2rem;
  line-height: 2.2rem;
}
.recipe__content-description {
  font-size: 1rem;
  /* padding-bottom: 1rem; */
}
.recipe__content-preptime {
  display: grid;
  gap: 1rem;
  font-size: 1rem;
  padding: 1rem 2rem 1rem;
  background-color: hsl(var(--rose-50));
  border-radius: 1rem;
}
.recipe__content-preptime-heading {
  font-size: 1.4rem;
}
.recipe__content-preptime li {
  margin-bottom: 0.5rem;
  padding-inline: 0.8rem;
  margin-left: -0.8rem;
}
.recipe__content-ingredients {
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(var(--stone-600) / 0.5);
}
.recipe__content-ingredients-heading {
  font-size: 1.7rem;
  padding-block: 1rem;
}
.recipe__content-ingredients li {
  padding-bottom: 0.5rem;
  padding-inline: 0.8rem;
  margin-left: -0.8rem;
}
.recipe__content-instructions-heading {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.recipe__content-instructions li {
  margin-bottom: 0.5rem;
  padding-inline: 0.8rem;
  margin-left: -0.8rem;
}
.recipe__content-instructions li::marker {
  color: hsl(var(--brown-800));
  font-size: 1rem;
  font-weight: 900;
}
.recipe__content-nutrition-heading {
  font-size: 1.8rem;
}
.recipe__content-nutrition-items {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}
.recipe__content-nutrition-item {
  border-bottom: 1px solid hsl(var(--stone-150));
  padding: 0.5rem 1.5rem;
}
@media (min-width: 900px) {
  body {
    background-color: hsl(var(--stone-100));
    height: 100vh;
  }
  .recipe__section {
    margin-block: 7rem;
    background-color: hsl(var(--white));
    max-width: 755px;
    padding: 2rem;
    border-radius: 0.8rem;
  }
  .recipe__section-image img {
    border-radius: 0.8rem;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
